<section id="body_container">
  <section id="signup_right">
    <article id="signup_title">
      <h2>SignUp</h2>
      <h3>Litterate Yourself!</h3>
    </article>
    <form action="/" method="post">
      <article id="signup_name">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
      </article>

      <article id="signup_email">
        <input type="text" name="email" placeholder="Email" class="fields">
        <input type="text" name="user_name" placeholder="Re-enter the email" class="fields">
        <input type="password" name="password" placeholder="New Password" class="fields" class="">
      </article>

      <article id="signup_birthday">

      </article>

      <article id="signup_gender">

      </article>

      <article id="signup_disclaimer">

      </article>

    </form>
  </section>

  <section id="signup_left">

  </section>


</section>
