<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    loads bootstrap
  -->
  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
  <!--
    application.css is where you put your styles
  -->
 <!--  <link rel="stylesheet" href="/css/application.css"> -->

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script> -->
  <link rel="stylesheet" href="/css/layout.css">
  <title>Litter-its</title>
</head>
<body id="container">
  <header id="header">
    <div id="header_left">
      <img src="../files/twitter.png"
    </div>
    <div id="header_right">
      <div class="header_right_login">
        <label>Email</label><br>
        <input type="text" name="user_name">
      </div>
      <div class="header_right_login">
        <label>Password</label><br>
        <input type="text" name="password">
      </div>
      <div class="header_right_login">
        <input type="submit" value="Login" id="login_button">
      </div>
    </div>
  </header>
  <%= yield %>
  <footer>
        <a href="mailto:info@sepandassadi.com"><img src="../files/gmail-w.jpg" onmouseover="this.src='../files/gmail-c.jpg'" onmouseout="this.src='../files/gmail-w.jpg'" alt="email" /></a>
        <a href="https://www.facebook.com/"><img src="../files/fb-w.png" onmouseover="this.src='../files/fb-c.png'" onmouseout="this.src='../files/fb-w.png'" alt="facebook"></a>
        <a href="https://www.linkedin.com/"><img src="../files/link-w.jpg" onmouseover="this.src='../files/link-c.png'" onmouseout="this.src='../files/link-w.jpg'" alt="linkedin"></a>
        <a href="https://twitter.com/"><img src="../files/twitter-b.jpg" onmouseover="this.src='../files/twitter-c.png'" onmouseout="this.src='../files/twitter-b.jpg'" alt="twitter"></a>
        <a href="https://plus.google.com/"><img src="../files/google-w.jpg" onmouseover="this.src='../files/google-c.jpg'" onmouseout="this.src='../files/google-w.jpg'" alt="google+"></a>
        <p>Copyright© ReRun 2016</p>
    </footer>
</body>
</html>
      <!-- <div class="navbar-header">
        <% if session[:user_id] %>
          <div class="navbar-brand">

          </div>
        <% else %>
          <div class="navbar-brand">

          </div>
        <% end %>
      </div>
      <% if session[:user_id] %>
        <div class="navbar-right">
          <p class="navbar-text"><%= "Signed in as #{session[:name]}" %></p>
          <form id="sign-in" class="navbar-form navbar-right" action="/users/logout" method="POST">
            <button type="submit" class="btn btn-default">Sign out</button>
          </form>
        </div>
      <% else %>
        <div id="sign-in" class="navbar-right">
          <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#logIn">Sign in</button>
        </div>
      <% end %>
    </div>
  </nav>
   -->
